<div class="people ui-g">
    <div class="header ui-g-12">

        <h2>
          Parsed JSON Data
        </h2>
    
    
    </div>
    <div>
        <p-dataTable [value]="people">
        <p-column field="id" header="ID"></p-column>
        <p-column field="firstName" header="First Name"></p-column>
        <p-column field="lastName" header="Last Name"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column field="avatar" header="Avatar"></p-column>
        </p-dataTable>
    </div>
</div>