<div class="ui-g">


  <at-statistic label="Hours Spent" value="132" icon="fa-calendar-times-o" colour="#DC143C" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Hours Left Over" value="23" icon="fa-hourglass-half" colour="#00008B" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Stories Done" value="35" icon="fa-user-circle-o" colour="#228B22" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


  <at-statistic label="Total Sprints" value="4" icon="fa-area-chart" colour="#FFD700" class="ui-g-12 ui-md-6 ui-lg-3"></at-statistic>


</div>

<div class="ui-g">

  <p-panel header="Time spent on each project (hours)" class="ui-g-12 ui-md-6">
    <p-chart type="pie" [data]="hoursByProjectChartData"
    [options]="chartOptions" ></p-chart>
  </p-panel>

  <p-panel header="Time spent by each team on a project (hours)" class="ui-g-12 ui-md-6">
    <p-chart type="bar" [data]="hoursByTeamChartDataMixed" [options]="chartOptions" #mixedChart
    (onDataSelect)="onDataSelect($event)"></p-chart>
  </p-panel>

</div>

